@import "tailwindcss";

 .calendar .rdp-button_previous svg,
.calendar .rdp-button_next svg {
  stroke: #7f1d1d;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
